<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <meta property="og:url"           content="https://zup.chat/" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="Zup" />
        <meta property="og:description"   content="Zup using booking Ola / Uber." />
        <meta property="og:image"         content="" />
        
        <!--  Zup Logo  -->
        <link rel="icon" href="https://zup.chat/icon.png">
        <title>Zup Booking</title>

        <!-- Font -->
        <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

        <!-- Bootstrap core CSS -->
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">-->
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.min.css" rel="stylesheet">

        
<style>
    .title {
        color: #f9a825;
        font-family: 'Arial', 'Sans-serif';
        width: 100%; 
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;
        font-weight: 900;
    }
    .fWidth {
        width: 150px;
    }
    .top-buffer { margin-top:40px; }

    .spacing {
        padding-left: 20px;
        padding-right: 20px;
    }

    .btn-white {
        background-color: #616161;
        color: #FFF !important;
    }

    .btn-blue {
        background-color: #2B7FD2;
        color: #FFF !important;
    }
            ul.nav.nav-tabs {
                border: 0.5px solid #cfcfcf;
            }
            .nav-tabs.nav-justified>li>a {
                border-bottom: 0px;
            }
            .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
                 border: 0px;
            }
            li.nav-item.waves-effect.active {
                border-bottom: 5px solid #337ab7;
            }
            a {
                color: #000;
                text-decoration: none;
            }
            .error {
                color: #F00;
                font-size: 18px;
                text-align: center;
                padding: 35px;
            }

            .alert-title {
                text-align: center;
                font-weight: 900;
                padding-top: 10px;
            }

            .bold {
                font-weight: 900;
            }

            .rightAlign {
                text-align: right;
            }

            .titleRow {
                padding-top: 20px;
                padding-bottom: 20px;
            }
            .vcenter {
                display: flex;
                align-items: center;
            }    

</style>
<script>
    function checkPrice(orgValue, provider) {
        var pickupVal = document.getElementById('pickupLocation').value;
        var dropVal = document.getElementById('dropLocation').value;
        if(pickupVal == orgLocation) {
            pickupVal = orgValue;
        }
        window.location = '/api/ride?pickup=' + pickupVal + "&drop=" + dropVal + '&provider=' + provider;
    }
    function clearForm() {
        var pickup = document.getElementById('pickupLocation');
        var drop = document.getElementById('dropLocation');
        pickup.value = "";
        drop.value = "";
    }
</script>
</head>
<body>
        <main>
            <div class="container main-content">
                <div class="row">
                    <div class="title h3">Book your ride</div>
                </div>
                <div class="row top-buffer spacing">
                    <label for="pickupLocation">Pickup Location:</label>
                    <%if(typeof pickup != 'undefined') {%>
                        <input type="text" id="pickupLocation" value="<%=pickup%>"/>
                    <%} else {%>
                        <input type="text" id="pickupLocation"/>
                    <%}%>
                </div>
                <div class="row top-buffer spacing">
                    <label for="dropLocation">Drop Location:</label>
                    <%if(typeof drop != 'undefined') {%>
                        <input type="text" id="dropLocation" value="<%=drop%>"/>
                    <%} else {%>
                        <input type="text" id="dropLocation"/>
                    <%}%>    
                </div>
                <div class="row top-buffer text-center">
                    <div class="col-xs-6 text-center">
                        <button type="button" class="btn btn-blue fWidth" onclick="checkPrice('<%=pickup%>', '<%=provider%>');">Check Price</button>
                    </div>
                    <div class="col-xs-6 text-center">
                        <button type="button" class="btn btn-white fWidth" onclick="clearForm();">Clear</button>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="tab-content">
                        <div class="tab-pane active" id="ola" role="tabpanel">
                            <div class="list-group">
                            <% if(typeof(uber) != 'undefined' && typeof(uber.data) != 'undefined' && uber.success) {%>
                            <div class="row titleRow">
                                <div class="col-xs-6 text-center">
                                <span class="bold">Distance: <%=uber.data[Object.keys(uber.data)[0]].distance%> Kms</span>
                                </div>
                                <div class="col-xs-6 text-center">
                                    <span class="bold">Ride Duration: <%=uber.data[Object.keys(uber.data)[0]].duration / 60%> mins</span>
                                </div>
                            </div>
                                <% Object.keys(uber.data).forEach(function(prop) { %>
                                <div class="tab-pane" id="uber" role="tabpanel">
                                <div class="list-group">
                                    <a onclick="bookList('<%=uber.data[prop].product_id%>', 'uber')" class="list-group-item waves-effect">
                                        <div class="row">
                                            <div class="col-xs-8">
                                                <h4 class="list-group-item-heading"><b><%= prop %></b></h4>
                                                <span>Arrives in <%=uber.data[Object.keys(uber.data)[0]].eta / 60%> mins</span>
                                            </div>
                                            <div class="col-xs-4 vcenter">
                                                <div class="vcenter"><%=uber.currency_code%>&nbsp;&nbsp;<%=uber.data[prop].low_price%> - <%=uber.data[prop].high_price%></div>
                                            </div>
                                        </div>
                                    </a>
                                <% }) %>         
                            <% } else if(typeof(uber) == 'undefined') {%>
                                <%if(typeof(location) == 'undefined') {%>
                                    <p class="error">Invalid Location</p> 
                                <% } else {%>
                                    <p class="error"><%=uber.message%></p>
                                <% } %>
                            <% } %>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="alert" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <h4 class="modal-title alert-title">Book Uber?</h4>
                    <div class="modal-body">
                        <p>Are you sure you want to book your ride?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="bookUber()">Book Uber</button>
                    </div>                                        
                </div>
            </div>
            </div>            
            </div>

            <div id="alert" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <h4 class="modal-title alert-title">Book Uber?</h4>
                    <div class="modal-body">
                        <p>Are you sure you want to book your ride?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="bookUber()">Book Uber</button>
                    </div>                                        
                </div>
            </div>
            </div>            
            
        </main>                   
</body>
    <script>
        var orgLocation;
        function initMap() {
            var input = /** @type {!HTMLInputElement} */(
                document.getElementById('pickupLocation'));
            var autocomplete = new google.maps.places.Autocomplete(input);
            input = /** @type {!HTMLInputElement} */(
                document.getElementById('dropLocation'));
            autocomplete = new google.maps.places.Autocomplete(input);
            geocodeLatLng(document.getElementById('pickupLocation').value);
        }
    function geocodeLatLng(input) {
        var latlngStr = input.split(',');
        if(latlngStr.length != 2) {
            console.log("pickup seems to be address, not doing reverse geocode");
            return;
        }
        
        var lat, lng;
        if(latlngStr[0]) {
            lat = parseFloat(latlngStr[0].trim());
        }
        if(latlngStr[1]) {
            lng = parseFloat(latlngStr[1].trim());
        }
        if(isNaN(lat) || isNaN(lng)) {
            console.log("pickup seems to be address, not doing reverse geocode");
            return;
        }
        var latlng = {lat: lat, lng: lng};
        var geocoder = new google.maps.Geocoder;
        var output = document.getElementById('output'); 
        geocoder.geocode({'location': latlng}, function(results, status) {
          if (status === 'OK') {
            if (results[1]) {
              orgLocation = results[1].formatted_address;
              document.getElementById('pickupLocation').value = orgLocation;
              results[1].address_components.forEach(item => {
                    var types = JSON.stringify(item.types)
                    if(types.indexOf('"locality"') != -1) {
                        document.getElementById('dropLocation').value = document.getElementById('dropLocation').value + ', ' + item.long_name;
                        return false;
                    } 
              })  
              return;
            }
        }
            orgLocation = input;
        });
      }
    </script>
        <!-- Custome script -->
        <script type="text/javascript">
            var loc;
            function bookList(product_id,  provider) {
                <%if(typeof location != 'undefined') {%>
                    loc = '/api/ride/book?lat=' + <%=location.lat%> + '&long=' + <%=location.long%> + '&droplat=' + <%=location.droplat%> + '&droplong=' + <%=location.droplong%> + '&product_id=' + product_id + '&provider=' + provider
                    $('#alert').modal('show');
                <%}%>
            };

            function bookUber() {
                $('#alert').modal('hide');
                window.location = loc;
            }
        </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdpqTe4-aUVsa8AcxD4WbHDD7lqyrAqzM&libraries=places&callback=initMap"
        async defer></script>
</html>