<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <meta property="og:url"           content="https://zup.chat/" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="Zup" />
        <meta property="og:description"   content="Zup using booking Ola / Uber." />
        <meta property="og:image"         content="" />
        
        <!--  Zup Logo  -->
        <link rel="icon" href="https://zup.chat/icon.png">
        <title>Zup Booking</title>

        <!-- Font -->
        <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

        <!-- Bootstrap core CSS -->
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">-->
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.min.css" rel="stylesheet">

        <!-- Custome Style -->
        <style type="text/css">
            ul.nav.nav-tabs {
                border: 0.5px solid #cfcfcf;
            }
            .nav-tabs.nav-justified>li>a {
                border-bottom: 0px;
            }
            .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
                 border: 0px;
            }
            li.nav-item.waves-effect.active {
                border-bottom: 5px solid #337ab7;
            }
            a {
                color: #000;
                text-decoration: none;
            }

            .error {
                color: #F00;
                font-size: 18px;
                text-align: center;
                padding: 35px;
            }

            .alert-title {
                text-align: center;
                font-weight: 900;
                padding-top: 10px;
            }

            .bold {
                font-weight: 900;
            }

            .rightAlign {
                text-align: right;
            }

            .titleRow {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            .vcenter {
                display: flex;
                align-items: center;
            }
        </style>

    </head>

    <body>

        <main>
            <div class="container main-content">
                <div class="row">
                    <ul class="nav nav-tabs nav-justified" id="bookingTab" role="tablist">
                        <%if(typeof(ola) != 'undefined') {%>
                        <li class="nav-item waves-effect">
                            <a class="nav-link active" data-toggle="tab" href="#ola" role="tab" aria-controls="home">
                            <img src="" class="ola-icon"/>&nbsp;OLA</a>
                        </li>
                        <%}%>

                        <%if(typeof(uber) != 'undefined') {%>
                        <li class="nav-item waves-effect">
                            <a class="nav-link waves-effect" data-toggle="tab" href="#uber" role="tab" aria-controls="profile"><img src="" class="uber-icon"/>&nbsp;UBER</a>
                        </li>
                        <%}%>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="ola" role="tabpanel">
                            <div class="list-group">
                            <% if(typeof(ola) != 'undefined' && typeof(ola.data) != 'undefined' && ola.success) {%>
                            <div class="row titleRow">
                                <div class="col-xs-6 text-center">
                                <span class="bold">Distance: <%=ola.data[Object.keys(ola.data)[0]].distance%> Miles</span>
                                </div>
                                <div class="col-xs-6 text-center">
                                    <span class="bold">Ride Duration: <%=ola.data[Object.keys(ola.data)[0]].duration / 60%> mins</span>
                                </div>
                            </div>
                                <% Object.keys(ola.data).forEach(function(prop) { %>
                                    <a onclick="bookList('<%=prop%>', 'ola')" class="list-group-item waves-effect">

                                        <div class="row">
                                            <div class="col-xs-8">
                                                <h4 class="list-group-item-heading"><b><%= prop %></b></h4>
                                                <span>
                                                    <%if(ola.data[prop].eta == -1) {%>
                                                        Arrival time unknown
                                                    <%} else {%>
                                                        Arrives in <%=ola.data[prop].eta%> mins                                    
                                                    <%}%>            
                                                </span>
                                            </div>    
                                            <div class="col-xs-4">
                                                <%=uber.currency_code%>&nbsp;&nbsp;<%=ola.data[prop].low_price%> - <%=ola.data[prop].high_price%>
                                            </div>
                                    </a>
                                <% }) %>     
                            <% } else if(typeof(ola) != 'undefined') {%>
                                <p class="error"><%=ola.message%></p>
                            <% } %>                                
                            </div>
                        </div>
                            <% if(typeof(uber) != 'undefined' && typeof(uber.data) != 'undefined' && uber.success) {%>
                            <div class="row titleRow">
                                <div class="col-xs-6 text-center">
                                <span class="bold">Distance: <%=uber.data[Object.keys(uber.data)[0]].distance%> Kms</span>
                                </div>
                                <div class="col-xs-6 text-center">
                                    <span class="bold">Ride Duration: <%=uber.data[Object.keys(uber.data)[0]].duration / 60%> mins</span>
                                </div>
                            </div>
                                <% Object.keys(uber.data).forEach(function(prop) { %>
                                <div class="tab-pane" id="uber" role="tabpanel">
                                <div class="list-group">
                                    <a onclick="bookList('<%=uber.data[prop].product_id%>', 'uber')" class="list-group-item waves-effect">
                                        <div class="row">
                                            <div class="col-xs-8">
                                                <h4 class="list-group-item-heading"><b><%= prop %></b></h4>
                                                <span>Arrives in <%=uber.data[Object.keys(uber.data)[0]].eta / 60%> mins</span>
                                            </div>
                                            <div class="col-xs-4 vcenter">
                                                <div class="vcenter"><%=uber.currency_code%>&nbsp;&nbsp;<%=uber.data[prop].low_price%> - <%=uber.data[prop].high_price%></div>
                                            </div>
                                        </div>
                                    </a>
                                <% }) %>         
                            <% } else if(typeof(uber) != 'undefined') {%>
                                <p class="error"><%=uber.message%></p>
                            <% } %>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="alert" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <h4 class="modal-title alert-title">Book Uber?</h4>
                    <div class="modal-body">
                        <p>Are you sure you want to book your ride?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="bookUber()">Book Uber</button>
                    </div>                                        
                </div>
            </div>
            </div>            
        </main>

        <!-- SCRIPTS -->

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
             <!-- Bootstrap core JavaScript -->
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/js/mdb.min.js"></script>

        <!-- Custome script -->
        <script type="text/javascript">
            /* Tabs */
            $(function () {
                $('#bookingTab a:first').tab('show');
            });
            var loc;
            function bookList(product_id,  provider) {
                loc = '/api/ride/book?lat=' + <%=location.lat%> + '&long=' + <%=location.long%> + '&droplat=' + <%=location.droplat%> + '&droplong=' + <%=location.droplong%> + '&product_id=' + product_id + '&provider=' + provider
                $('#alert').modal('show');
            };

            function bookUber() {
                $('#alert').modal('hide');
                window.location = loc;
            }
        </script>

    </body>

</html>